@page "/"

@rendermode InteractiveServer

<PageTitle>Brism Demo</PageTitle>

<h1>Welcome to Brism Demo!</h1>

<p>This demo showcases syntax highlighting capabilities of Brism for various programming languages.</p>

<div class="row">
    <div class="col-md-4 mb-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Programming Languages</h5>
                <ul class="list-unstyled">
                    <li><a href="csharp">C# Examples</a></li>
                    <li><a href="javascript">JavaScript Examples</a></li>
                    <li><a href="typescript">TypeScript Examples</a></li>
                    <li><a href="python">Python Examples</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-md-4 mb-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Web Technologies</h5>
                <ul class="list-unstyled">
                    <li><a href="html">HTML Examples</a></li>
                    <li><a href="css">CSS Examples</a></li>
                    <li><a href="json">JSON Examples</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-md-4 mb-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Other Technologies</h5>
                <ul class="list-unstyled">
                    <li><a href="sql">SQL Examples</a></li>
                    <li><a href="docker">Docker Examples</a></li>
                    <li><a href="yaml">YAML Examples</a></li>
                    <li><a href="markdown">Markdown Examples</a></li>
                    <li><a href="bash">Bash Examples</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>